@import url('https://fonts.googleapis.com/css?family=Monoton'); /*importing special font for name*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@keyframes example {
  0% {
    color: grey;
    left: 0px;
    top: 0px;
  }
  25% {
    color: darkgray;
    left: 200px;
    top: 0px;
  }
  50% {
    color: white;
    left: 200px;
    top: 200px;
  }
  75% {
    color: darkgray;
    left: 0px;
    top: 200px;
  }
  100% {
    color: dimgray;
    left: 0px;
    top: 0px;
  }
}

.preload {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #787787;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
} 

.preload-done {
  opacity: 0;    /* display none would remove it from dom , cant be faded out */
  pointer-events: none; /* cant click on it */
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;  /* recently added */
  max-width: 100%;
  /* min-width: 320px; */
  margin: 0;
  position: relative;
}

@media screen and (max-width: 872px) {  /* ked to zmensi. je blby direction ale cez ltr;rtl nebavi.. */
  ul li a {
    color: lightgrey;
    float: none;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
  }
  li a:hover {
    cursor: pointer !important;
    color: white !important;
    font-weight: bold !important;
    border-bottom: none !important;
  }
  .navbar {
    background-color: #000 !important;
  }
  #logo {
    visibility: hidden;
    transition: unset !important; /* som musel vypnut lebo pomaly mizol ten nadpis; ktory by tam bol na nic ajtak */
  }
  textarea {
    height: 100px !important;
  }
  .works {
    display: block !important;
    width: 100% !important;
  }
  #works1 {
    padding: 20px 20px 0 20px;
    float: none !important;
    width: auto !important;
  }
  #works2 {
    padding: 20px 20px 0 20px;
    float: none !important;
    width: auto !important;
  }
  #works3 {
    padding: 20px 20px 0 20px;
    float: none !important;
    width: auto !important;
  }
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 20px 10px 20px 40px;
  overflow: hidden;
}

li a {
  font: 14px "Fira Sans", sans-serif;
  float: right;
  display: block;
  color: black;
  margin: 0 30px 0 30px;
  text-decoration: none;
  transition: all 0.2s;
}

li a:hover {
  cursor: pointer;
  color: black;
  border-bottom: solid 2px red;
}

#logo {
  font-size: 14px;
  font-family: 'Monoton', cursive;
  /* margin: 0 30px 0 0; */
  color: dimgray;
  display: inline-block;  /* inak by ukazalo pointer na cely riadok, block */
  transition: 0.6s all;
}

#logo:hover {
  cursor: default;
  color: black;
}

.title {
  background-image: url("img/curtain-hands-indoors.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;  /* viewport height, som vycital ze lepsie takto */
  padding-top: 40vh;
  width: 100%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: inset 0px -1px 20px 0px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.4);  cant decide but ^^ seems better*/
}

@media screen and (max-width: 872px) {
  .title {
    background-image: url("img/curtain-hands-indoors-sm.jpg"); /*load smaller img on smaller devices*/
  }
}

.title :first-child {  /* below aka pseudo-classes */
  font-size: 16px !important;
  margin-bottom: 30px;
}

.title :nth-child(2) {
  font-size: 60px !important;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title :last-child {
  font-size: 30px !important;
  animation: example 5s infinite;
  font-weight: 400;
  letter-spacing: 1px;
}

.about {
  background-size: cover;
  overflow: hidden;
}

.content {
  margin-top: 80px;
}

.content p, h1 {
  width: 80vw;
  margin: 30px auto;
  text-align: center;
  line-height: 30px;
}

#photo {
  background-image: url("img/ladislav.balicky.jr.bk.jpg");
  background-size: 160px;
  display: inline-block;
  float: left;
  margin-left: 40px;
  height: 285px;
  width: 160px;
  transition: 1s all;
}

#photo:hover {
  background-image: url("img/ladislav.balicky.jr.jpg") !important;
  transform: scale(1.01);  /* zoom just a tiny little bit */
}

.place {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: white;
}

#blue {
  background-image: url("img/sunset-blue.jpg");
  background-attachment: fixed;  /* parallax effect */
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  height: 200px;
  padding-top: 90px;
  margin: 0 !important;
  margin-bottom: 80px !important;
  margin-top: 80px !important;
  width: 100%;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}

#green {
  background-image: url("img/sunset-green.jpg");
  background-attachment: fixed;  /* parallax effect */
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  height: 200px;
  padding-top: 90px;
  margin: 0 !important;
  margin-bottom: 80px !important;
  margin-top: 80px !important;
  width: 100%;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}

#red {
  background-image: url("img/sunset-red.jpg");
  background-attachment: fixed;  /* parallax effect */
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  height: 200px;
  padding-top: 90px;
  margin: 0 !important;
  margin-top: 30px !important;
  width: 100%;
  margin-bottom: 80px !important;
  margin-top: 80px !important;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}

} /*css validator shows parse error but I need it, strange*/

.works {
  display: flex;
  width: 100%;
}

.works::after {  /* clearfix */
  content: "";
  clear: both;
  display: table;
}

#works1 {
  padding: 20px 20px 0 20px;
  float: left;
  width: 33.3333%;
}

#works2 {
  padding: 20px 20px 0 20px;
  float: left;
  width: 33.3333%;
}

#works3 {
  padding: 20px 20px 0 20px;
  float: left;
  width: 33.3333%;
}

h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 2em;
}

.form {
  background-image: url("img/background-black-coffee-caffeine.jpg");
  background-attachment: fixed;  /* parallax effect */
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  height: 60vh;
  width: 100%;
  padding-top: 200px;
  box-sizing: content-box;  /* ??????!!!!!!???? */
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.4);
}

.overlay {  /* overlay darkens the background */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

form {
  display: block;
  margin: auto;
  padding-top: 5%;
  width: 40%;
}

label {
  visibility: hidden;
}

input, textarea {
  width: 40vw;
  height: auto;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid darkgrey;
  padding: 10px;
  font-size: 14px;
  font-style: italic;
  color: white;
}

textarea {
  height: 200px;
}

#c4 {
  padding-top: 5%;
  color: darkgrey;
}

#submit {
  font-weight: bold;
  position: relative;
  border: 1px solid tomato;
  background-color: tomato;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  transition: 1s all;
}

#submit:hover {
  color: tomato;
  background-color: inherit;
}

.address {
  font-style: italic;
  text-align: center;
  width: auto;
  margin: 60px 0 -60px 0;
  padding: 10px;
  color: darkgrey;
}

footer {
  color: darkgrey;
  font-size: 11px;
  margin-top: 55px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.8;
}

.icon {
  margin: 5px;
}
